* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    background-color: #9cb4cc;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}
.cards {
    width: 600px;
    height: 700px;
    border: 15px solid #e7f6f2;
    box-shadow: 0 0 35px 5px #35353551;
    position: relative;
    rotate: y 0;
    transition: rotate 3s;
    transform-style: preserve-3d;
}
    .cards:hover {
        rotate: y 180deg;
        transition: rotate 3s;
    }

    .cards:hover .card {
        filter: contrast(130%);
        
    }

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: filter .5s;
}
.front--card {
    background: url('https://i.pinimg.com/736x/44/86/83/448683b6ab7663c25489d8ccc36baaa7.jpg') center/cover no-repeat;
}
.back--card {
    rotate: y 180deg;
        background: url('https://i.pinimg.com/736x/45/3a/1f/453a1fcd5a452e8c6fa047f43eac041b.jpg') center/cover no-repeat;
}